---

port: 4000
host: 0.0.0.0
safe: false


### site serving configuration ###
exclude: [CNAME, README.md, .gitignore]
permalink: /:title ## disables post output
timezone: null
lsi: false
markdown: kramdown


### content configuration ###
title:       "Deep and Reinforcement Learning UPC 2020"
keywords:    "artificial intelligence, deep learning, reinforcement learning, teaching, course, barcelona, upc, catalonia"
description: "Course page for Deep and Reinforcement Learning at UPC TelecomBCN, Barcelona, Catalonia."
source_link: "https://telecombcn-dl.github.io/drl-2020/"
favicon:     "img/favicon.ico"
touch_icon:  "img/apple-touch-icon.png"

### template colors, used site-wide via css ###
colors:
  black:     '#111111'
  white:     '#f8f8f8'
  blue:      '#49a7e9'
  green:     '#9bcf2f'
  purple:    '#c869bf'
  orange:    '#fab125'
  turquoise: '#0fbfcf'

kramdown:
  auto_ids:  false

